.navigation-list{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    padding : 10;
    margin: 10;
}

.navigation-list li{
    margin-right: 20px;
}

.navigation-list li a{
    text-decoration: none;
    color: black;
}