/* 공통 스타일 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* 회원가입 컨테이너 */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f8fc;
}

/* 회원가입 박스 */
.signup-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

/* 회원가입 폼 */
.signup-form {
    margin-bottom: 20px;
    text-align: left;
}

.signup-form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.id-form{
    display: flex;
}

.id-form input {
    flex: 3; /* 3의 비율로 공간 차지 */
    margin-top: 10px;
    margin-right: 10px;
    height: 40px; /* 버튼과 동일한 높이 설정 */
    padding: 0 10px; /* 내부 여백 */
    box-sizing: border-box; /* 패딩 포함 */
}

.id-form button {
    flex: 1; /* 1의 비율로 공간 차지 */
    margin-top: 10px;
    height: 40px; /* input과 동일한 높이 설정 */
    padding: 0;
    box-sizing: border-box; /* 패딩 포함 */
}

/* Input 컴포넌트 스타일 */
.custom-input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-input:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    outline: none;
}

/* 버튼 스타일 */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

.extra-links button {
    margin-top: 10px;
    width: calc(30% - 10px);
    margin-right: 5px;
}
